tests/resources/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Global book element declaration for individual book validation -->
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="author" type="restrictiveAuthorType"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="genre" type="xs:string"/>
        <xs:element name="price" type="xs:decimal"/>
        <xs:element name="publish_date" type="xs:date"/>
        <xs:element name="description" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Root element definition -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="book" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Only allow one specific author - only bk101 will be valid -->
  <xs:simpleType name="restrictiveAuthorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gambardella, Matthew"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
